[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lxml = "*"
pyqt5 = "*"

[dev-packages]
flask = "*"
pyinstaller = "*"

[requires]
python_version = "3.9"
